// COLORS

$color-primary: #B23CFD;
$color-primary-hover: #9E0AFC;
$color-secondary-100: #619CFF;
$color-secondary-100-hover: #2E7CFF;
$color-secondary-300: #05366E;
$color-secondary-400: #022F64;
$color-secondary-500: #002045;
$color-secondary-600: #021D3D;
$color-secondary-700: #051821;
$color-secondary-900: #091318;
$color-tertiary: #47B59A;
$color-tertiary-hover: #39907B;

//$color-quartiary: #E29F5B;

$color-formfield: #ABAAAA;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #999;
$color-grey-dark-2: #444;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONTS

$font-body: 'Poppins', sans-serif;     // 400, 700
$font-special: 'Zilla Slab', serif;          // 400, italic 400


// SPACERS

$spacer-half: 0.625rem;
$spacer: 1.25rem;
$spacer-double: 2.5rem;
$spacer-medium: 3.75rem;
$spacer-large: 5rem;